@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

:root {
  --pink: rgba(229, 112, 106, 0.7);
  --hover-pink: #ffd3c2;
  --pure-white: white;
  --white: whitesmoke;
  --black: black;
  --gray: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', 'serif';
}

body {
  background: #f1d2d3;
}

ul {
  list-style: none;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}
